extends ../layout/uikit
include ../includes/color/color

block variables
  - var title = 'Colors & Type';
  - var description = 'FSD frontend education program. The 2nd task';
  - var pageClass = 'ui-colors';

block content
  .colors
    +color('Dark Shade 100%', '#1F2041')
    +color('Dark Shade 75%', '#1F2041')
  section
    .container
      include ../includes/module-template/module-template
      +item('item title', 'item descr')
      +item('item title', 'item descr')
      +item('item title', 'item descr')
