extends ../layout/uikit
include ../includes/form-text-field/form-text-field

block variables
  - var title = 'Form Elements';
  - var description = 'FSD frontend education program. The 2nd task';
  - var pageClass = 'ui-form-elements';

block content
  .container
    .row
      .form-elements
        +text-field('Text Field', 'Default', 'form-text-field_state_default', 'Email', '')(class="form-elements__text-field")
        +text-field('Text Field', 'Hover / Focus', 'form-text-field_state_focus', 'Email', 'This is pretty awesome')(class="form-elements__text-field")
